body{
    background-image: linear-gradient(to bottom, black, yellowgreen)
}
footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    margin-top: 210px;
    padding: 0px;
    border: 2px solid black;
    background-color: greenyellow;
}
.navbar-brand{
    text-align: center;
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar-brand:hover{
    color: white;
}
.nav-link{
    color: greenyellow;
}
.nav-link:hover{
    color: white;
}

.h1titulo{
    -webkit-text-stroke: 1.5px black; 
    text-align: center;
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.grid-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 200px);
    border: 1px solid black;
    gap: 1px 1px ;
    grid-template-areas: 
    "Duki Trueno Rosalia Rauw"
    "Duki Trueno Rosalia Rauw"
}
.Duki{
    grid-area: Duki;
    background-color: yellowgreen;
    border: 2px solid black;
}
.Trueno{
    border: 2px solid black;
    grid-area: Trueno;
    background-color: yellowgreen;
}
.Rosalia{
    border: 2px solid black;
    grid-area: Rosalia;
    background-color: yellowgreen;
}
.Rauw{
    border: 2px solid black;
    grid-area: Rauw;
    background-color: yellowgreen;
}
.dukih2{
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.dukip{
    font-size: 95%;
    margin: 0px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.truenoh2{
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.truenop{
    font-size: 95%;
    margin: 0px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.rosaliah2{
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.rosaliap{
    font-size: 95%;
    margin: 0px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.rauwh2{
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.rauwp{
    font-size: 95%;
    margin: 0px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h1zonamedia{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: greenyellow;
    text-decoration: none;
    border: 1px solid black;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    .h1zonamedia{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: black;
        background-color: greenyellow;
        text-decoration: none;
        border: 1px solid black;
        margin: 0px;
    }
    .grid-container{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 200px);
        border: 1px solid black;
        gap: 1px 1px ;
        grid-template-areas: 
        "Duki Trueno"
        "Duki Trueno"
        "Rosalia Rauw"
        "Rosalia Rauw"
    }
    .Duki{
        grid-area: Duki;
        background-color: yellowgreen;
        border: 2px solid black;
    }
    .Trueno{
        border: 2px solid black;
        grid-area: Trueno;
        background-color: yellowgreen;
    }
    .Rosalia{
        border: 2px solid black;
        grid-area: Rosalia;
        background-color: yellowgreen;
    }
    .rosaliap{
        line-height: 17px;
        font-size: 95%;
        margin: 0px;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .Rauw{
        border: 2px solid black;
        grid-area: Rauw;
        background-color: yellowgreen;
    }
    .rauwp{
        line-height: 17px;
        font-size: 95%;
        margin: 0px;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}