body{
    background-image: linear-gradient(to bottom, black, yellowgreen)
}
.navbar-brand{
    text-align: center;
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar-brand:hover{
    color: white;
}
footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    margin-top: 210px;
    padding: 0px;
    border: 2px solid black;
    background-color: greenyellow;
}
.h2mejoresdiscos{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: greenyellow;
    text-decoration: none;
    border: 1px solid black;
    margin-left: 600px;
    margin-right: 600px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4, 500px);
    grid-template-areas: 
    "tracklist1 sintesis1 duki"
    "tracklist2 sintesis2 trueno"
    "tracklist3 sintesis3 rauw"
    "tracklist4 sintesis4 rosalia"
    ;
    background-color: yellowgreen;
    border: 2px solid black;
}
.duki{
    grid-area: duki;
    background-color: yellowgreen;

}
.trueno{
    grid-area: trueno;
    background-color: yellowgreen;
}
.rosalia{
    grid-area: rosalia;
    background-color: yellowgreen;
}
.rauw{
    grid-area: rauw;
    background-color: yellowgreen;
}
.tracklist1{
    grid-area: tracklist1;
    background-color: yellowgreen;
}
.tracklist2{
    grid-area: tracklist2;
    background-color: yellowgreen;
}
.tracklist3{
    grid-area: tracklist3;
    background-color: yellowgreen;
}
.tracklist4{
    background-color: yellowgreen;
    grid-area: tracklist4
}
.sintesis1{
    grid-area: sintesis1;
    background-color: yellowgreen;
}
.sintesis2{
    grid-area: sintesis2;
    background-color: yellowgreen;
}
.sintesis3{
    grid-area: sintesis3;
    background-color: yellowgreen;
}
.sintesis4{
    grid-area: sintesis4;
    background-color: yellowgreen;
}
.h2tracklist{
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h2sintesis{
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tracklist1{
    font-size: 100%;
    margin: 0px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ol{
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.imgduki{
    margin-left: 165px;
    margin-top: 10px;
    width: 450px;
    border: 2px solid black;
}
.imgtr1{
    margin-left: 165px;
    margin-top: 10px;
    width: 450px;
    border: 2px solid black;
}
.imgrauw{
    margin-left: 165px;
    margin-top: 10px;
    width: 450px;
    border: 2px solid black;
}
.imgrosalia{
    margin-left: 165px;
    margin-top: 10px;
    width: 450px;
    border: 2px solid black;
}
.pduk{
    font-size: 95%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ptru{
    font-size: 95%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.prau{
    font-size: 95%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.prosa{
    font-size: 95%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media screen and (max-width: 768px){
    .h2mejoresdiscos{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: greenyellow;
    text-decoration: none;
    border: 1px solid black;
    margin: 0px;
}
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 500px);
        grid-template-areas: 
        "duki duki"
        "sintesis1 sintesis1"
        "tracklist1 tracklist1"
        "trueno trueno"
        "sintesis2 sintesis2"
        "tracklist2 tracklist2"
        "rauw rauw"
        "sintesis3 sintesis3"
        "tracklist3 tracklist3"
        "rosalia rosalia"
        "sintesis4 sintesis4"
        "tracklist4 tracklist4"
        ;
        border: 1px solid black;
        gap: 1px 1px ;
    }
    .tracklist1{
        grid-area: tracklist1;
    }
    .duki{
        grid-area: duki;
    }
    .tracklist2{
        grid-area: tracklist2;
    }
    .tr1{
        grid-area: trueno;
    }
    .tracklist3{
        grid-area: tracklist3;
    }
    .rauw{
        grid-area: rauw;
    }
    .tracklist4{
        grid-area: tracklist4;
    }
    .rosalia{
        grid-area: rosalia;
    }
    ol{
        margin: 0px;
        text-align: center;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .imgduki{
        margin-left: 165px;
        margin-top: 100px;
        width: 450px;
        border: 2px solid black;
    }
    .imgtr1{
        margin-left: 165px;
        margin-top: 10px;
        width: 450px;
        border: 2px solid black;
    }
    .imgrauw{
        margin-left: 165px;
        margin-top: 10px;
        width: 450px;
        border: 2px solid black;
    }
    .imgrosalia{
        margin-left: 165px;
        margin-top: 10px;
        width: 450px;
        border: 2px solid black;
    }
    .h2sintesis{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .pduk{
        margin-top: 80px;
    }
}